
/* Main page header */
.branding {
  text-align: center;
  font-size: 2.8rem;
}

.branding .my {
  font-family: var(--bs-branding-font-my);
  font-weight: normal;
  color: var(--bs-branding-font-color-my);
}

.branding .recipe-hub {
  font-family: var(--bs-branding-font-hub);
  font-weight: 700;
  color: var(--primary-font-grey);
}




