
.bottom-nav {
    background-color: var(--bs-header-background-color);
    width: 100%;
    bottom: 0;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    padding: 0.75rem 0;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1);
   
}

.bottom-nav a {
    color: var(--bs-white-font-color);
    text-decoration: none;
    font-weight: 600;
}

.bottom-nav a:hover {
    color: #6d28d9;
}