html, body {
    font-family: var(--font-body);
    height: 100%;
    margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  justify-content: center;
}

.main-content {
  flex: 1; /* This will grow to fill available space */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5rem;
}

h3 {
  color: black;
}


.main-footer {
  background-color: Var(--nav-footer-color);
  color: white;
  text-align: center;
  padding: 0.6rem;
  font-size: 0.9rem;
  border-radius: 5px 5px 0 0;
}




