

header {
    /*background: var(--bs-gradient);*/
    color: var(--bs-header-font-color);
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    padding: 1rem;;
    /*box-shadow: var(--bs-box-shadow);*/
}


header h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}


.icon-button {
background: none;
border: none;
font-size: 1.5rem;
cursor: pointer;
padding: 0.5rem;
}

.icon-button:hover {
background: none;
border: none;
font-size: 1.5rem;
cursor: pointer;
padding: 0.5rem;
}

.icon-button svg {
    width: 24px;
    height: 24px;
    color: black;
}

/* Main page header styling */
.main-header {
  justify-content: center;
}
.main-header h1 {
  text-align: center;
}