
/* Main page navigation button */
.nav-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    width: 100%;
    max-width: 400px;
    align-items: center;
}

.nav-section {
  display: block;
  width: 100%;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(246, 245, 243, 0.8);
  background-blend-mode: lighten;
  border-radius: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-section h2 {
  font-size: 2rem;
  color: #4B0082;
  font-weight: bold;
  text-shadow: 1px 1px 2px #fff;
}

.nav-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.plan-week-section {
  background-image: url('../../images/calendar.png');
}

.add-recipe-section {
  background-image: url('../../images/add-recipe.png');
}

.my-recipes-section {
  background-image: url('../../images/my-recipes.png');
}

.list-section {
  background-image: url('../../images/list.png');
}


/* My Week Nav Styling */
.monday-section {
  background-image: url('../../images/monday.jpg');
}


/* Top Navigation Bar */
.top-nav {
  background-color: var(--nav-footer-color);
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.1rem;
  flex-wrap: wrap;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.top-nav a {
  color: var(--cream);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
}

.top-nav a:hover {
  background-color: #36005e;
}